html {
    display: grid;
    min-height: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #effbe9;
}

#inputNotes {
    /* width: 315px; */
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 10px;
}

.mainButtons button {
    display: inline-block;
    width: 100px;
    /* border-radius: 5px; */
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #d9eae0;
    color: black;
    border: 3px double black;
}

.submitButton {
    margin-right: 9%;
}

.downloadButton{
    text-decoration: none;
    color: black;
}

#sharedNotes {
    border: 1px solid black;
    border-radius: 10px;
    /* border: 2px solid black; */
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.notesTitle {
    font-weight: bold;
    margin-left: 5px;
    font-size: 22px;
}

.counter {
    display: inline;
    font-weight: bold;
    margin-left: 5px;
}