html {
    display: grid;
    min-height: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #effbe9;
}

#inputNotes {
    width: 315px;
    height: 80px;
    resize: none;
}

.mainButtons button {
    display: inline-block;
    width: 100px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton {
    margin-right: 9%;
}

.downloadButton{
    text-decoration: none;
    color: black;
}

#sharedNotes {
    border: 2px solid black;
    width: 25%;
    height: 360px;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-top: 10px;
}

.notesTitle {
    font-weight: bold;
    margin-left: 5px;
    font-size: 25px;
}

.counter {
    display: inline;
    font-weight: bold;
    margin-left: 5px;
}